// LAYOUT.LESS


/* Typography */

h1 {
	font-weight: normal;
	font-size:2.4rem;
}

i {
	line-height: 50px;
}

a {
	color:@color-purple;
	.transition(color 0.15s);
	text-decoration: none;
	&:hover {
		color:@color-green;
	}
}


/* Main Layout */

body {
	background:@color-grey-light;
	font-family: 'Gotham-Rounded-Light', Arial;
	font-weight: normal;
	color:@color-grey-text;
	font-size:20px;
}



/* Navigation */

.you-navigation {
	background:@color-purple;
	margin-bottom:2rem;
	.clearfix();
	.box-shadow-2(0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28));

	a {
		padding:1rem 2rem;
		display: inline-block;
	}
}


/* Basic Wrapper Container */

.you-wrapper-label {
	width:94%;
	max-width: @max-width;
	margin:0 auto;
	padding-left:2rem;
	.box-sizing(border-box);
	margin-bottom:1rem;

	h1 {
		font-size:@font-size-label;
	}
}

.you-wrapper {
	width:94%;
	max-width: @max-width;
	margin:0 auto 5rem auto;
	// border:1px solid red;
	.clearfix();
	background:white;
	.you-shadow();

	header {
		padding:2rem;
	}

	h1 {
		border-bottom:1px solid lighten(@color-grey-text, 40%);
	}

}


/* List Entries */

.you-loader {
	text-align: center;
	margin:2rem auto;
	display: block;
	width:60px;
}

.you-list-entry {
	padding:0.8rem 0;
	border-top:1px solid lighten(@color-grey-text, 40%);
	display: flex;
	flex-direction: row;
	line-height: 33px;
	cursor: pointer;

	&:hover {
		background:@color-grey-light;

		.you-list-actions {
			a { 
				.opacity(1);
			}
		}
	}
}

.you-list-initial {
	text-align: left;
	width:10%;
}

.you-list-point {
	width:30px;
	height:30px;
	text-align: center;
	background:@color-grey-text;
	.border-radius(50px);
	margin-left:2rem;
	color:white;
	display: inline-block;
	font-size:0.8rem;
}

.you-list-name {
	font-size: 1.2rem;
	font-family: "Gotham-Rounded-Medium", Arial;
	width:30%;
}

.you-list-phone {
	width:30%;
}

.you-list-actions {
	text-align: right;
	width:30%;
	margin-right:2rem;

	a {
		display: inline-block;
		line-height: 33px;
		.opacity(0);
		i {
			position:relative;
			top:3px;
		}
	}
}


/* Overlay Modal */

.you-overlay {
	background:rgba(0,0,0,0.6);
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

/* Delete Confirmation */

#delete-confirm {
	header {
		background:@color-attention;
	}

	a {
		color:@color-attention;

		&:hover {
			color:lighten(@color-attention, 40%);
		}
	}
}


/* Single Entry */

.you-entry-single {
	width:@dialog-width;
	margin:10rem auto;
	// height:500px;
	padding-bottom:0.5rem;
	background:white;
	.you-shadow();

	header {
		background:@color-purple;
		padding:1rem 2rem;
		display: flex;
		flex-direction:row;
	}

	h1 {
		margin:0;
		color:white;
		width:90%;
	}

}

.you-entry-row {
	.clearfix();
	padding:0 2rem;
	margin-bottom:1rem;
}

.you-entry-col {
	width:45%;
	float:left;
	.clearfix();

}

header {

	margin-bottom:2rem;

	.you-close {
		width:10%;
		color:white;
		text-align: right;
		i {
			font-size:2.4rem;
			position: relative;
			top:4px;
			&:hover {
				color: @color-green;
			}
		}
	}
}

.you-label {
	font-size:0.8rem;
	display: block;
	color:lighten(@color-grey-text,40%);
	margin-bottom:0.2rem;
}

.you-field-content {
	display: block;
}

.you-entry-hero {

	font-size:1.8rem;


	i {
		font-size:1rem;
		position: relative;
		top:4px;
	}

	a {
		// color:@color-grey-text;
	}
}


/* Global Elements */

.you-card-action {
	margin-top:2rem;
	display: block;
	text-transform: uppercase;

	+ .you-card-action {
		margin-right:2rem;
	}
}

.align-right {
	display: flex;
	flex-direction:row-reverse;
}

.you-floating-button {
	position: fixed;
	bottom:23px;
	right:23px;
}

.you-button-create {
	width:56px;
	height:56px;
	.border-radius(100%);
	background:@color-green;
	display: block;
	.box-shadow-2(0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28));
	float:right;
	.transition(box-shadow 0.2s);

	&:hover {
		.box-shadow-2(0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32));

		+ .you-tool-tip {
			.opacity(1);
		}

	}

	i {
		margin-left:16px;
		margin-top:16px;
		color:white;
	}
}

.you-tool-tip {
	.opacity(0);
	color:white;
	line-height: 56px;
	display: inline-block;
	.border-radius(2px);
	float:right;
	.transition(opacity 0.2s);

	span {
		display: inline-block;
		.border-radius(2px);
		font-size: 13px;
		padding:6px 8px;
		line-height: 1em;
		margin-right:8px;
		background:@color-grey-text;
	}
}

.you-wrapped {
	width:90%;
	max-width: @max-width;
	margin:0 auto;
}

.relative {
	position: relative;
}

/* Form Elements */

input[type=tel], input[type=password], input[type=text], input[type=email] {
	border:none;
	border-bottom:1px solid @color-grey-text;
	.border-radius(2px);
	// padding-left:5px;

	&:focus {
		outline:none;
		border-bottom:1px solid @color-purple;
		.box-shadow(0 2px 0 0 @color-purple);
	}

}

input[type=submit] {
	border:none;
	background:none;
	padding:0;
	color:@color-purple;

	&:hover {
		color: @color-green;
	}
}


label {
	&:hover {
		cursor: pointer;
	}
}

.you-input-search {
	width:100%;
	.border-radius(2px);
	.box-sizing(border-box);
	display: block;
	margin:1rem auto;
	background:rgba(255,255,255,0.15);
	border:none;
	padding:0.5rem 0 0.5rem 5rem; 
	color:white;
	.transition(background 0.2s);

	&::-webkit-input-placeholder {
	   color: white;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   color: white;  
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   color: white;  
	}

	&:-ms-input-placeholder {  
	   color: white;  
	}

	&:hover {
		background:rgba(255,255,255,0.3);
	}



}

.you-search-icon {
	position: absolute;
	left:2rem;
	top:8px;
	color:white;
}
