<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>youOS Demo App</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- DEV Scripts -->
    <link rel="stylesheet/less" type="text/css" href="stylesheet/main.less">
    <script>
        less = {
            env: "development"
        };
    </script>
	<script src="bower_components/less/dist/less.min.js"></script>
    <script data-main="js/boot" src="bower_components/requirejs/require.js"></script>
    <!-- end DEV Scripts -->
    <!-- PROD Scripts
    <link rel="stylesheet" type="text/css" href="dist/main.css">
    <script src="bower_components/requirejs/require.js"></script>
    <script src="dist/main.min.js"></script>
    <script>require(['app/Controller/UserList'])</script>
    <!-- end PROD Scripts -->

</head>
<body>
    <div class="you-navigation">
        <div class="you-wrapped relative">
            <input type="text" name="search" class="you-input-search" placeholder="Suchen" />
            <i class="material-icons you-search-icon">search</i>
        </div>
    </div>
    <div class="you-wrapper-label">
        <h1>Meine Kontakte</h1>
    </div>
    <section class="you-wrapper">
        <img src="img/three-dots.svg" class="you-loader" />
    </section>
    <div class="you-floating-button">
        <a href="js:{}" class="you-button-create"><i class="material-icons">add</i></a>
        <label class="you-tool-tip"><span>Erstellen</span></label>
    </div>
<script type="text/html" id="user-list-row-template">
    <div class="you-list-entry">
        <div class="you-list-initial">
            <span class="you-list-point"><%= initials %></span>
        </div>
        <div class="you-list-name"><%= name %></div>
        <div class="you-list-phone"><%= phone %></div>
        <div class="you-list-actions">
            <a href="javascript:void(0);" class="edit">
                <i class="material-icons">mode_edit</i>
            </a>
            <a href="javascript:void(0);" class="delete">
                <i class="material-icons">delete</i>
            </a>
        </div>
    </div>
</script>
<script type="text/html" id="user-detail-template">
    <div class="you-overlay" id="detail-view">
        <section class="you-entry-single">
            <header>
                <h1><%= name %></h1>
                <!-- <a href="javascript:void(0);" class="you-close"><i class="material-icons">clear</i></a> -->
            </header>
            <div class="you-entry-row">
                <div class="you-entry-hero">
                    <span class="you-label">Telefon</span>
                    <a href="tel:<%= phone %>" class="you-field-content"><%= phone %></a>
                </div>
            </div>
            <div class="you-entry-row">
                <div class="you-entry-col">
                    <span class="you-label">Name</span>
                    <span class="you-field-content"><%= name %></span>
                </div>
                <div class="you-entry-col">
                    <span class="you-label">Email</span>
                    <a href="mailto:Sincere@april.biz" class="you-field-content"><%= email %></a>
                </div>
            </div>
            <div class="you-entry-row">
                <div class="you-entry-col">

                    <span class="you-label">Strasse & Nr.</span>
                    <span class="you-field-content"><%= address.street %></span>
                </div>
                <div class="you-entry-col">
                    <span class="you-label">Nummer</span>
                    <span class="you-field-content"><%= address.suite %></span>
                </div>
            </div>
            <div class="you-entry-row">
                <div class="you-entry-col">
                    <span class="you-label">Postleitzahl</span>
                    <span class="you-field-content"><%= address.zipcode %></span>
                </div>
                <div class="you-entry-col">
                    <span class="you-label">Ort</span>
                    <span class="you-field-content"><%= address.city %></span>
                </div>
            </div>

            <div class="you-entry-row">
                <a href="javascript:void(0);" class="you-card-action you-close">Schliessen</a>
            </div>
        </section>        
    </div>
</script>
<script type="text/html" id="user-edit-template">
    <div class="you-overlay" id="edit-view">
        <section class="you-entry-single">
            <header>
                <h1><% if(name == ''){ %>Neu:<% }else{ %>Bearbeiten: <%= name %><% } %></h1>
            </header>
            <form class="you-form-edit" action="javascript:void(0);">
                <div class="you-entry-row">
                    <div class="you-entry-hero">
                        <label for="you-phone" class="you-label">Telefon</label>
                        <input type="tel" id="you-phone" name="phone" class="you-field-content" value="<%= phone %>" />
                    </div>
                </div>
                <div class="you-entry-row">
                    <div class="you-entry-col">
                        <label for="you-name" class="you-label">Name</label>
                        <input type="text" id="you-name" name="name" class="you-field-content" value="<%= name %>" />
                    </div>
                    <div class="you-entry-col">
                        <label for="you-email" class="you-label">Email</label>
                        <input type="email" id="you-email" name="email" class="you-field-content" value="<%= email %>" />
                    </div>
                </div>
                <div class="you-entry-row">
                    <div class="you-entry-col">
                        <label for="you-street" class="you-label">Strasse</label>
                        <input type="text" id="you-street" name="address[street]" class="you-field-content" value="<%= address.street %>" />
                    </div>
                    <div class="you-entry-col">
                        <label for="you-number" class="you-label">Nummer</label>
                        <input type="text" id="you-number" name="address[suite]" class="you-field-content" value="<%= address.suite %>" />
                    </div>
                </div>
                <div class="you-entry-row">
                    <div class="you-entry-col">
                        <label for="you-plz" class="you-label">Postleitzahl</label>
                        <input type="text" id="you-plz" name="address[zipcode]" class="you-field-content" value="<%= address.zipcode %>" />
                    </div>
                    <div class="you-entry-col">
                        <label for="you-city" class="you-label">Ort</label>
                        <input type="text" id="you-city" name="address[city]" class="you-field-content" value="<%= address.city %>" />
                    </div>
                </div>
                <div class="you-entry-row align-right">
                    <input type="submit" value="Speichern" class="you-card-action" />
                    <a href="javascript:void(0);" class="you-card-action you-close">Abbrechen</a>
                </div>
            </form>
        </section>
    </div>
</script>
<script type="text/html" id="confirm-delete">
    <div class="you-overlay" id="delete-confirm">
        <section class="you-entry-single">
            <header>
                <h1>Eintrag löschen?</h1>
            </header>
            <div class="you-entry-row">
                <p>Möchtest du den Eintrag wirklich löschen?</p>
            </div>
            <div class="you-entry-row align-right">
                <a href="javascript:void(0);" class="you-card-action delete">Löschen</a>
                <a href="javascript:void(0);" class="you-card-action you-close">Abbrechen</a>
            </div>
        </section>
    </div>
</script>
</body>
</html>